@tailwind base;
@tailwind components;
@tailwind utilities;

/* fot face */
@font-face {
    font-family: 'sugerfonts';
    src: url('../public/fonts/sugar.regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.suger {
    font-family: 'sugerfonts', sans-serif;
}